<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="userName" value="z003p8vs" />
        <add key="password" value="****" />
        <add key="minutesSpentAtOffice" value="510" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>